{% extends 'base.html' %}
{% load static %}
{% block content %}

          <section class="p-0">
            <div class="swiper-theme-container home-slider" data-swiper-theme-container="data-swiper-theme-container">
              <div class="swiper" data-swiper='{"effect":"fade","loop":true}'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <section class="text-white">
                      <div class="bg-holder" style="background-image:url('{% static 'assets/images/frigoworld/keuken.jpg' %}');"></div>
                      <div class="container">
                        <div class="row min-vh-50 align-items-center">
                          <div class="col-md-6 col-lg-5 col-xl-4">
                            <div class="py-4 text-center shop-slider-card">
                              <h5 class="text-uppercase ls-2"> Uw koelpartner met een persoonlijke aanpak</h5>
                               <span class="fw-normal font-sans-serif text-dark">Vind bij FrigoWorld de ideale koelkast voor uw keuken</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="swiper-nav">
                  <div class="swiper-button-next"> </div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
            </div>
          </section>
            <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section id="over-frigoworld">

            <div class="container">
              <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                  <div class="perpendicular">
                    <h2 class="text-300 fs-3 text-uppercase lh-0" style="transform: translateY(36px);">Over Ons </h2>
                  </div>
                </div>
                <div class="col-12 d-lg-none">
                  <h2 class="mb-5">Over Ons </h2>
                </div>
                <div class="col-lg-6">
                  <h5 class="mb-4">&#8212; Verhaal achter Frigoworld</h5>
                  <p class="fw-light fs-8 mb-5 text-700">FrigoWorld is een jonge onderneming, opgericht in 2024 door Jeroen en Patrick. Met een gedeelde passie voor innovatie en klantgerichte service besloten zij hun krachten te bundelen en een bedrijf te starten dat uitblinkt in koel- en vriesoplossingen. Samen bouwen we aan een toekomst waarin iedereen kan rekenen op topkwaliteit en moderne koeltechnologie!</p>
                  <h5 class="mb-4">&#8212; Missie &amp; Visie</h5>
                  <p class="fw-light fs-8 mb-5 text-700">Bij FrigoWorld streven we ernaar om dé referentie te zijn in koel- en vriesoplossingen. Onze missie is om klanten te voorzien van duurzame, innovatieve en energiezuinige producten die hun dagelijkse leven makkelijker maken. We geloven in een toekomst waarin koeling niet alleen praktisch is, maar ook milieubewust en betrouwbaar.

Onze visie? Een wereld waarin iedereen toegang heeft tot hoogwaardige koeltechnologie, met oog voor comfort, functionaliteit en planeetvriendelijkheid.</p>
                </div>
                <div class="col-lg-4 ps-lg-5">
                  <h5 class="mb-0">&#8212; Opgericht In</h5>
                  <div class="fs-4 mb-5 fw-thin">2024</div>
                  <h5 class="mb-3">&#8212; Gelegen Te</h5>
                  <p class="fs-6 text-500 lh-1 mb-5 fw-light">Serskamp</p>
                  <h5 class="mb-3">&#8212; Aanbod</h5>
                  <p class="fs-8 fw-light text-700">Frigo’s</br>
                      Diepvriezers</br>
                      Speciale oplossingen: Wijnkoelers, minibarfrigo’s, en koelvitrines voor de horeca.
</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
            <section class="text-center bg-100" id="over-ons">

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <h3 class="text-1100 mb-4">Ontmoet de oprichters</h3>
                  <p class="text-800 fw-light fs-8">Jeroen en Patrick hebben beiden een passie voor koeloplossingen. Zo heeft Jeroen jarenlang ervaring opgedaan bij één van de grootste frigomerken ter wereld. Patrick daarentegen ....</p>
                  <hr class="short mb-8 text-400 mt-4 mx-auto" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 p-4"> <img class="img-fluid rounded-circle px-5" src="{% static 'assets/images/frigoworld/jeroen.jpg' %}" alt="Jeroen Roelandt" />
                  <h5 class="fs-9 mt-3 mb-1"><a class="link-1100" href="#!">Jeroen Roelandt</a></h5>
                  <div class="text-uppercase fs-10 text-600">Oprichter Frigoworld</div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 p-4"> <img class="img-fluid rounded-circle px-5" src="{% static 'assets/images/frigoworld/stef.jpg' %}" alt="Jeffrey Way" />
                  <h5 class="fs-9 mt-3 mb-1"><a class="link-1100" href="#!">Stef Renneboog</a></h5>
                  <div class="text-uppercase fs-10 text-600">Oprichter Frigoworld</div>
                </div>

              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
    
          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section class="pt-0 pb-4 text-center">

            <div class="container">
              <div class="row g-0 border border-top-0 border-300">
                <div class="col-12">
                  <hr class="my-0 text-danger" />
                  <hr class="my-0 text-danger" />
                </div>

              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->

    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}